/* Admin video upload */
.all_videos .video {
    display: inline-block;
    width: 200px;
    margin: 5px;
    transition: all .5s;
}
.all_videos {
    transition: all .5s;
}

.all_videos .video input,
.all_videos .video select {
    width: 100%;
    margin-bottom: 5px;
}
.all_videos img {
    width: 100%;
}

input#channel_id {
    min-width: 300px;
    max-width: 100%;
}

.alert-success {
    padding: 15px;
    background: #00800026;
    width: 400px;
    border: 1px solid #00800073;
    margin-bottom: 10px;
}
.alert.alert-danger {
    padding: 10px;
    background: #d636384a;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ff000052;
}

button#load-more {
    display: block;
    margin: 0 auto;
    padding: 5px 15px;
    width: 200px;
    box-shadow: 5px 5px 10px #dfdfdf;
    transition: all .5s;
}